.add-book-site {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 238, 238);
    margin-top: 20px;
    border-radius: 20px;
    padding-left: 15px;
}

.mix-add {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.triple-add {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.add-book-site input {
    width: 100%;
    height: 20px;
}

.add-book-site textarea {
    width: 100%;
    height: 100px;
}

.add-img {
    flex: 1;
    border: solid;
    border-width: 2px;
    margin-right: 110px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-add {
    display: flex;
    flex-direction: row;
}

.double-add input {
    width: 80%;
    height: 20px;
}

.double-add select {
    width: 81%;
    height: 26px;
}

.add-book-publisher, .add-book-supplier, .add-book-id, .add-book-year, .add-book-weight, .add-book-size, .add-book-format, .add-book-pageCount, .add-book-price, .add-book-type {
    flex: 1;
}

.add-save {
    margin: 20px 10px 20px 990px;
    height: 30px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

 



