.main, .admin-header, .admin-info  {
    display: flex;
    flex-direction: row;
}

.left-side, .right-side, .admin-role, .book {
    display: flex;
    flex-direction: column;
}

.galery-space {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding-top: 20px;
    margin-top: 20px;
    background-color: rgb(246, 238, 238);
    border-radius: 15px;
}

.main {
    gap: 20px;
}

.left-side {
    flex: 1;
    background-color: rgb(246, 238, 238);
    border-radius: 15px;
    margin-left: 20px;
}

.function.off {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

.function.active {
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(21, 96, 255);
    color: white;
}


.right-side {
    flex: 6;
    background-color: white;
    margin-left: 20px;
    margin-right: 40px;
}

.admin-header {
    
}

.search {
    display: flex;
    flex: 8;
    justify-content: center;
    justify-content: flex-start;
    padding: 10px 0px 10px 50px;
    border-radius: 15px;
    background-color: rgb(244, 236, 236);
}

.search-button {
    object-fit: contain;
    border: none;
    background-color: white;
    cursor: pointer;
    border-radius: 30px;
}

.search-icon {
    height: 30px;
}

.search-bar {
    margin-left: 10px;
    border: none;
    width: 600px;
    border-radius: 20px;
    padding-left: 20px;
}

.search-bar::placeholder {
    
}

.add-book {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    align-items: center;
}

.cancel {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    align-items: center;
}

.add-button {
    display: flex;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 90px;
    background-color: rgb(21, 126, 54);
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cancel-button {
    display: flex;
    border: none;
    border-radius: 15px;
    height: 60px;
    width: 90px;
    background-color: rgb(195, 29, 29);
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.admin-info {
    flex: 2;
    background-color: rgb(244, 236, 236);
    border-radius: 30px;
    justify-content: flex-end;
    margin-left: 30px;
}

.admin-role {
    
}

.admin-info button {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 30px;
    border: none;
    background-color: rgb(120, 145, 199);
}

.admin-img {
    height: 30px;
    cursor: pointer;
}

.book {
    justify-content: center;
    align-items: center;
    position: relative;
}

.book-img {
    height: 200px;
    object-fit: contain;
    justify-self: center;
    margin-bottom: 5px;
    display: block;
}

.edit-btn {
    position: absolute;  
    top: 8px;            
    right: 88px;          
    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.book-name {
    font-weight: bold;
    overflow-wrap: break-word;
    margin: 5px;
    
}

.book-author {
    justify-self: center;
    margin: 5px;
}
