.book-galery, .buy, .buy-info-more {
    display: flex;
    flex-direction: row;
}

.book-description {
    display: flex;
    flex-direction: column;
}

.book-galery {
    background-color: rgb(245, 242, 242);
    gap: 20px;
    padding: 50px;
}

.book-image {
    display: flex;
    flex: 1;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    border-radius: 20px;
}

.buy {
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}


.book-img {
    height: 400px;
    object-fit: contain;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.cart-button {
    width: 200px;
    height: 50px;

    border: solid;
    border-color: rgb(21, 96, 255);
    border-width: 1px;
    border-radius: 5px;

    font-size: 16px;

    background-color: white;
    color: rgb(21, 96, 255);
    cursor: pointer;
}

.buy-button {
    width: 200px;

    border: none;
    border-radius: 5px;

    font-size: 16px;

    background-color: rgb(21, 96, 255);
    color: white;
    cursor: pointer;
    
}

.buy-info {
    margin-left: 20px;
}

.buy-info-more {
    align-items: center;
}

.truck-icon, .shop-icon {
    height: 30px;
    margin-right: 10px;
}
.box-icon {
    height: 20px;
    margin-left: 5px;
    margin-right: 15px;
}

.book-description {
    flex: 2;
    border-radius: 20px;
}

.info-table {
    width: 100%;
    table-layout: fixed;
}

.info-table td {
  border: 1px solid #333;  
  padding: 8px;             
  text-align: left;         
}

.info-table col.col-1 {
    width: 25%;
}

.price, .info, .description {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

.price {
    
}

.info {

}

.description {

}

