.header {
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
    background-color: white;
}

.header-left {
    width: 100px;
}

.hust-logo {
    width: 50px;
}

.header-middle {
    flex: 3;
    margin-left: 30px;
    margin-right: 30px;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    height: 30px;
    width: 500px;
    padding-left: 15px;
}

.search-bar::placeholder {

}

.search-button {
    height: 36px;
    cursor: pointer;
}

.search-icon {
    height: 30px;
}

.header-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header-right button {
    width:  100px;
    height: 30px;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.home-icon {
    width: 30px;
    margin-right: 30px;
    cursor: pointer;
}