.intro {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(21, 96, 255);
}

.intro-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center ;
    color: white;
}

.intro-right {
    height: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.library {
    height: 300px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.library img{
    width: 80%;
}


